src/main/resources/wsdl/xsd/datatypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- editado con XMLSpy v2019 sp2 (x64) (http://www.altova.com) por Hugo (Test) -->
<s:schema xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns="http://mycompany.com/ejercicio/cxf/datatypes" xmlns:datatypes="http://mycompany.com/ejercicio/cxf/datatypes" xmlns:mime="http://www.w3.org/2005/05/xmlmime" targetNamespace="http://mycompany.com/ejercicio/cxf/datatypes" elementFormDefault="qualified" version="1.0">
	<s:import namespace="http://www.w3.org/2005/05/xmlmime" schemaLocation="w3c-xmlmime-definition.xsd"/>
	<s:complexType name="User">
		<s:sequence>
			<s:element name="login" type="s:string"/>
			<s:element name="email" type="s:string"/>
			<s:element name="name" type="s:string"/>
		</s:sequence>
	</s:complexType>
	<s:complexType name="Role">
		<s:sequence>
			<s:element name="name" type="s:string"/>
			<s:element name="description" type="s:string"/>
		</s:sequence>
	</s:complexType>
	<s:complexType name="ArrayOfUser">
		<s:sequence>
			<s:element name="User" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</s:sequence>
	</s:complexType>
	<s:complexType name="ArrayOfRole">
		<s:sequence>
			<s:element name="Role" type="datatypes:Role" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</s:sequence>
	</s:complexType>
</s:schema>
