src/main/resources/wsdl/WSDLEjercicio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!-- editado con XMLSpy v2019 sp2 (x64) (http://www.altova.com) por Hugo (Test) -->
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://mycompany.com/ejercicio/cxf" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:datatypes="http://mycompany.com/ejercicio/cxf/datatypes" xmlns:datatypes1="http://www.w3.org/2005/05/xmlmime" xmlns:exception="http://mycompany.com/ejercicio/cxf/exception" xmlns:role="http://mycompany.com/ejercicio/cxf/role" xmlns:user="http://mycompany.com/ejercicio/cxf/user" name="WebServiceName" targetNamespace="http://mycompany.com/ejercicio/cxf">
	<wsdl:types>
		<xsi:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema" targetNamespace="http://mycompany.com/ejercicio/cxf" elementFormDefault="qualified">
			<xsi:include schemaLocation="EjercicioXSD.xsd"/>
		</xsi:schema>
	</wsdl:types>
	<wsdl:message name="getUserDetailsSoapIn">
		<wsdl:part name="parameters" element="user:GetUserByLogin"/>
	</wsdl:message>
	<wsdl:message name="getUserDetailsSoapOut">
		<wsdl:part name="parameters" element="user:GetUserByLoginResponse"/>
	</wsdl:message>
	<wsdl:message name="getRoleDetailsSoapIn">
		<wsdl:part name="parameters" element="role:GetRoleByName"/>
	</wsdl:message>
	<wsdl:message name="getRoleDetailsSoapOut">
		<wsdl:part name="parameters" element="role:GetRoleByNameResponse"/>
	</wsdl:message>
	<wsdl:message name="createuserSoapIn">
		<wsdl:part name="parameters" element="user:AddUser"/>
	</wsdl:message>
	<wsdl:message name="createuserSoapOut">
		<wsdl:part name="parameters" element="user:AddUserResponse"/>
	</wsdl:message>
	<wsdl:message name="MensajeNuevo">
		<wsdl:part name="parameter" type="xs:string"/>
	</wsdl:message>
	<wsdl:message name="UserException">
		<wsdl:part name="parameter" element="exception:GenericException"/>
	</wsdl:message>
	<wsdl:message name="RoleExcepction">
		<wsdl:part name="parameter" element="exception:GenericException"/>
	</wsdl:message>
	<wsdl:message name="DeleteUserSoapIn">
		<wsdl:part name="parameter" element="user:DeleteUser"/>
	</wsdl:message>
	<wsdl:message name="DeleteUserSoapOut">
		<wsdl:part name="parameter" element="user:DeleteUserResponse"/>
	</wsdl:message>
	<wsdl:message name="GetUsersSoapIn">
		<wsdl:part name="parameter" element="user:GetUsers"/>
	</wsdl:message>
	<wsdl:message name="GetUsersSoapOut">
		<wsdl:part name="parameter" element="user:GetUsersResponse"/>
	</wsdl:message>
	<wsdl:message name="UpdateUserSoapIn">
		<wsdl:part name="parameter" element="user:UpdateUser"/>
	</wsdl:message>
	<wsdl:message name="UpdateUserSoapOut">
		<wsdl:part name="parameter" element="user:UpdateUserResponse"/>
	</wsdl:message>
	<wsdl:message name="CreateRoleSoapIn">
		<wsdl:part name="parameter" element="role:AddRole"/>
	</wsdl:message>
	<wsdl:message name="CreateRoleSoapOut">
		<wsdl:part name="parameter" element="role:AddRoleResponse"/>
	</wsdl:message>
	<wsdl:message name="DeleteRoleSoapIn">
		<wsdl:part name="parameter" element="role:DeleteRole"/>
	</wsdl:message>
	<wsdl:message name="DeleteRoleSoapOut">
		<wsdl:part name="parameter" element="role:DeleteRoleResponse"/>
	</wsdl:message>
	<wsdl:message name="GetRolesSoapIn">
		<wsdl:part name="parameter" element="role:GetRoles"/>
	</wsdl:message>
	<wsdl:message name="GetRolesSoapOut">
		<wsdl:part name="parameter" element="role:GetRolesResponse"/>
	</wsdl:message>
	<wsdl:message name="UpdateRoleSoapIn">
		<wsdl:part name="parameter" element="role:UpdateRole"/>
	</wsdl:message>
	<wsdl:message name="UpdateRoleSoapOut">
		<wsdl:part name="parameter" element="role:UpdateRoleResponse"/>
	</wsdl:message>
	<wsdl:message name="DataAccessException">
		<wsdl:part name="parameter" element="exception:GenericException"/>
	</wsdl:message>
	<wsdl:portType name="UserServiceSoapPortType">
		<wsdl:operation name="UserDetails">
			<wsdl:input message="tns:getUserDetailsSoapIn"/>
			<wsdl:output message="tns:getUserDetailsSoapOut"/>
			<wsdl:fault name="UserException" message="tns:UserException"/>
			<wsdl:fault name="DataAccessException" message="tns:DataAccessException"/>
		</wsdl:operation>
		<wsdl:operation name="CreateUser">
			<wsdl:input message="tns:createuserSoapIn"/>
			<wsdl:output message="tns:createuserSoapOut"/>
			<wsdl:fault name="UserException" message="tns:UserException"/>
			<wsdl:fault name="DataAccessException" message="tns:DataAccessException"/>
		</wsdl:operation>
		<wsdl:operation name="DeleteUser">
			<wsdl:input message="tns:DeleteUserSoapIn"/>
			<wsdl:output message="tns:DeleteUserSoapOut"/>
			<wsdl:fault name="UserExceptionr" message="tns:UserException"/>
			<wsdl:fault name="DataAccessException" message="tns:DataAccessException"/>
		</wsdl:operation>
		<wsdl:operation name="GetUsers">
			<wsdl:input message="tns:GetUsersSoapIn"/>
			<wsdl:output message="tns:GetUsersSoapOut"/>
			<wsdl:fault name="DataAccessException" message="tns:DataAccessException"/>
		</wsdl:operation>
		<wsdl:operation name="UpdateUser">
			<wsdl:input message="tns:UpdateUserSoapIn"/>
			<wsdl:output message="tns:UpdateUserSoapOut"/>
			<wsdl:fault name="UserException" message="tns:UserException"/>
			<wsdl:fault name="DataAccessException" message="tns:DataAccessException"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="RoleServiceSoapPortType">
		<wsdl:operation name="RoleDetails">
			<wsdl:input message="tns:getRoleDetailsSoapIn"/>
			<wsdl:output message="tns:getRoleDetailsSoapOut"/>
			<wsdl:fault name="RoleExcepction" message="tns:RoleExcepction"/>
			<wsdl:fault name="DataAccessException" message="tns:DataAccessException"/>
		</wsdl:operation>
		<wsdl:operation name="CreateRole">
			<wsdl:input message="tns:CreateRoleSoapIn"/>
			<wsdl:output message="tns:CreateRoleSoapOut"/>
			<wsdl:fault name="RoleException" message="tns:RoleExcepction"/>
			<wsdl:fault name="DataAccessException" message="tns:DataAccessException"/>
		</wsdl:operation>
		<wsdl:operation name="DeleteRole">
			<wsdl:input message="tns:DeleteRoleSoapIn"/>
			<wsdl:output message="tns:DeleteRoleSoapOut"/>
			<wsdl:fault name="RoleExcepction" message="tns:RoleExcepction"/>
			<wsdl:fault name="DataAccessException" message="tns:DataAccessException"/>
		</wsdl:operation>
		<wsdl:operation name="GetRoles">
			<wsdl:input message="tns:GetRolesSoapIn"/>
			<wsdl:output message="tns:GetRolesSoapOut"/>
			<wsdl:fault name="DataAccessException" message="tns:DataAccessException"/>
		</wsdl:operation>
		<wsdl:operation name="UpdateRole">
			<wsdl:input message="tns:UpdateRoleSoapIn"/>
			<wsdl:output message="tns:UpdateRoleSoapOut"/>
			<wsdl:fault name="RoleException" message="tns:RoleExcepction"/>
			<wsdl:fault name="DataAccessException" message="tns:DataAccessException"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="UserServiceSoapBinding" type="tns:UserServiceSoapPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="CreateUser">
			<soap:operation soapAction="urn:#CreateUser" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="UserException">
				<soap:fault name="UserException" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="DataAccessException">
				<soap:fault name="DataAccessException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="UserDetails">
			<soap:operation soapAction="urn:#UserDetails" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="UserException">
				<soap:fault name="UserException" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="DataAccessException">
				<soap:fault name="DataAccessException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="DeleteUser">
			<soap:operation soapAction="urn:#DeleteUser" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="UserExceptionr">
				<soap:fault name="UserExceptionr" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="DataAccessException">
				<soap:fault name="DataAccessException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="GetUsers">
			<soap:operation soapAction="urn:#GetUsers" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DataAccessException">
				<soap:fault name="DataAccessException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="UpdateUser">
			<soap:operation soapAction="urn:#UpdateUser" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="UserException">
				<soap:fault name="UserException" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="DataAccessException">
				<soap:fault name="DataAccessException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="RoleServiceSoapBinding" type="tns:RoleServiceSoapPortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="RoleDetails">
			<soap:operation soapAction="urn:#RoleDetails" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="RoleExcepction">
				<soap:fault name="RoleExcepction" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="DataAccessException">
				<soap:fault name="DataAccessException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="CreateRole">
			<soap:operation soapAction="urn:#CreateRole" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="RoleException">
				<soap:fault name="RoleException" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="DataAccessException">
				<soap:fault name="DataAccessException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="DeleteRole">
			<soap:operation soapAction="urn:#DeleteRole" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="RoleExcepction">
				<soap:fault name="RoleExcepction" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="DataAccessException">
				<soap:fault name="DataAccessException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="GetRoles">
			<soap:operation soapAction="urn:#GetRoles" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DataAccessException">
				<soap:fault name="DataAccessException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="UpdateRole">
			<soap:operation soapAction="urn:#UpdateRole" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="RoleException">
				<soap:fault name="RoleException" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="DataAccessException">
				<soap:fault name="DataAccessException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="UserService">
		<wsdl:port name="UserServiceSoap" binding="tns:UserServiceSoapBinding">
			<soap:address location="http://mycompany.com/ejercicio"/>
		</wsdl:port>
	</wsdl:service>
	<wsdl:service name="RoleService">
		<wsdl:port name="RoleServiceSoap" binding="tns:RoleServiceSoapBinding">
			<soap:address location="http://mycompany.com/ejercicio"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
