src/main/resources/wsdl/WSDLEjercicio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--Created with Liquid Studio 2018 (https://www.liquid-technologies.com)-->
<wsdl:definitions name="WebServiceName" targetNamespace="http://mycompany.com/ejercicio/cxf" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://mycompany.com/ejercicio/cxf" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <xs:schema elementFormDefault="qualified" targetNamespace="http://mycompany.com/ejercicio/cxf">
            <xs:element name="InputType">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="input" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="OutputType">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="output" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="user">
                <xs:sequence>
                    <xs:element name="id" type="xs:int" />
                    <xs:element name="login" type="xs:string" />
                    <xs:element name="email" type="xs:string" />
                    <xs:element name="name" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="role">
                <xs:sequence>
                    <xs:element name="id" type="xs:int" />
                    <xs:element name="name" type="xs:string" />
                    <xs:element name="description" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="NewInputMessage">
        <wsdl:part name="id" type="xs:int" />
    </wsdl:message>
    <wsdl:message name="NewOutputMessage">
        <wsdl:part name="user" type="tns:user" />
    </wsdl:message>
    <wsdl:message name="NewMessage">
        <wsdl:part name="NewPart" type="tns:user" />
    </wsdl:message>
    <wsdl:message name="NewMessageA">
        <wsdl:part name="id" type="xs:int" />
    </wsdl:message>
    <wsdl:message name="NewMessageB">
        <wsdl:part name="role" type="tns:role" />
    </wsdl:message>
    <wsdl:portType name="UserPortType">
        <wsdl:operation name="UserDetails">
            <wsdl:input message="tns:NewInputMessage" />
            <wsdl:output message="tns:NewOutputMessage" />
        </wsdl:operation>
        <wsdl:operation name="ListAllUsers">
            <wsdl:input message="" />
            <wsdl:output message="tns:NewMessage" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="RolePortType">
        <wsdl:operation name="RoleDetails">
            <wsdl:input message="tns:NewMessageA" />
            <wsdl:output message="tns:NewMessageB" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="UserBinding" type="tns:UserPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="UserDetails">
            <wsdl:input>
                <soap:body />
            </wsdl:input>
            <wsdl:output>
                <soap:body />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="RoleBinding" type="tns:RolePortType">
        <soap:binding />
    </wsdl:binding>
    <wsdl:service name="UserService">
        <wsdl:port name="UserPort" binding="tns:UserBinding">
            <soap:address location="http://mycompany.com/ejercicio" />
        </wsdl:port>
    </wsdl:service>
    <wsdl:service name="RoleService">
        <wsdl:port name="RolePort" binding="tns:RoleBinding">
            <soap:address location="" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>