src/main/resources/wsdl/WSDLEjercicio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!-- editado con XMLSpy v2019 sp2 (x64) (http://www.altova.com) por Hugo (Test) -->
<!--Created with Liquid Studio 2018 (https://www.liquid-technologies.com)-->
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://mycompany.com/ejercicio/cxf" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="WebServiceName" targetNamespace="http://mycompany.com/ejercicio/cxf">
	<wsdl:types>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://mycompany.com/ejercicio/cxf">
			<xs:complexType name="user">
				<xs:sequence>
					<xs:element name="id" type="xs:int"/>
					<xs:element name="login" type="xs:string"/>
					<xs:element name="email" type="xs:string"/>
					<xs:element name="name" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="role">
				<xs:sequence>
					<xs:element name="id" type="xs:int"/>
					<xs:element name="name" type="xs:string"/>
					<xs:element name="description" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="getUserDetailsSoapIn">
		<wsdl:part name="id" type="xs:int"/>
	</wsdl:message>
	<wsdl:message name="getUserDetailsSoapOut">
		<wsdl:part name="user" type="tns:user"/>
	</wsdl:message>
	<wsdl:message name="getAllUsersSoapOut">
		<wsdl:part name="NewPart" type="tns:user"/>
	</wsdl:message>
	<wsdl:message name="getRoleDetailsSoapIn">
		<wsdl:part name="id" type="xs:int"/>
	</wsdl:message>
	<wsdl:message name="getRoleDetailsSoapOut">
		<wsdl:part name="role" type="tns:role"/>
	</wsdl:message>
	<wsdl:message name="createuserSoapIn">
		<wsdl:part name="user" type="tns:user"/>
	</wsdl:message>
	<wsdl:message name="createuserSoapOut">
		<wsdl:part name="user" type="tns:user"/>
	</wsdl:message>
	<wsdl:message name="getAllUsersHttpGetOut">
		<wsdl:part name="Body" type="tns:user"/>
	</wsdl:message>
	<wsdl:message name="getAllUsersHttpGetIn"/>
	<wsdl:message name="getAllUsersSoapIn"/>
	<wsdl:portType name="UserServiceSoapPortType">
		<wsdl:operation name="UserDetails">
			<wsdl:input message="tns:getUserDetailsSoapIn"/>
			<wsdl:output message="tns:getUserDetailsSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="ListAllUsers">
			<wsdl:output message="tns:getAllUsersSoapOut"/>
			<wsdl:input message="tns:getAllUsersSoapIn"/>
		</wsdl:operation>
		<wsdl:operation name="CreateUser">
			<wsdl:input message="tns:createuserSoapIn"/>
			<wsdl:output message="tns:createuserSoapOut"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="RoleServiceSoapPortType">
		<wsdl:operation name="RoleDetails">
			<wsdl:input message="tns:getRoleDetailsSoapIn"/>
			<wsdl:output message="tns:getRoleDetailsSoapOut"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="UserServiceHttpGetPortType">
		<wsdl:operation name="getAllUsers">
			<wsdl:output message="tns:getAllUsersHttpGetOut"/>
			<wsdl:input message="tns:getAllUsersHttpGetIn"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="UserServiceSoapBinding" type="tns:UserServiceSoapPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="UserDetails">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ListAllUsers">
			<soap:operation soapAction="urn:#ListAllUsers" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateUser">
			<soap:operation soapAction="urn:#CreateUser" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="RoleServiceSoapBinding" type="tns:RoleServiceSoapPortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="RoleDetails">
			<soap:operation soapAction="urn:#RoleDetails" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="UserServiceHttpGetBinding" type="tns:UserServiceHttpGetPortType">
		<http:binding verb="GET"/>
		<wsdl:operation name="getAllUsers">
			<http:operation location="/getAllUsers"/>
			<wsdl:input>
				<http:urlEncoded/>
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="UserService">
		<wsdl:port name="UserServiceSoap" binding="tns:UserServiceSoapBinding">
			<soap:address location="http://mycompany.com/ejercicio"/>
		</wsdl:port>
		<wsdl:port name="UserServiceHttpGet" binding="tns:UserServiceHttpGetBinding">
			<http:address location="http://mycompany.com/ejercicio"/>
		</wsdl:port>
	</wsdl:service>
	<wsdl:service name="RoleService">
		<wsdl:port name="RoleServiceSoap" binding="tns:RoleServiceSoapBinding">
			<soap:address location="http://mycompany.com/ejercicio"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
